<footer class="container">
  <p>Made by <a href="https://github.com/Frozen-Burrito" class="highlight">Frozen Burrito</a> | Check out the <a href="https://github.com/Frozen-Burrito/Tip-Board" class="highlight">Github Repo</a></p>
</footer>