<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fontawesome icons -->
    <script src="https://kit.fontawesome.com/c4684a5e48.js"></script> 

    <link rel="stylesheet" href="/main.css">

    <title>Tip Board</title>

</head>
<body>
    <%- body %>

    <%- include('../partials/_footer.ejs') %>
</body>
</html>