<div class="container">
    <h2>Message Sent!</h2>

    <i class="fas fa-paper-plane"></i>

    <p>You should be able to see it on you cellphone.</p>

    <div>
      <a href="/" class="btn primary">Send Another</a>
    </div>
</div>