<div class="container">
  <div class="header">
    <h2>Find a new game</h2>

    <div class="card">
      <form action="/api/tip" method="POST" class="card-content">
      
        <div>
          <label for="phone_number">Phone Number</label>
          <input type="text" name="phone_number" placeholder="+1 0012345678"/>
        </div>

        <button type="submit" class="btn primary">Send Message</button>
      </form>
    </div>
  </div>
</div>